/* Paramètres globaux */
:root {
    --couleur-principale: #052952;
    --couleur-arriere-plan: #f9f9f9;
    --police: 'Arial', serif;
    --couleur-texte: #333;
    --couleur-texte-blanc: #fff;
}

/* Réinitialisation et base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--police);
    color: var(--couleur-texte);
    background-color: var(--couleur-arriere-plan);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* En-tête (header) */
header {
    height: 12.5vh;
    width: 100%;
    background-color: var(--couleur-principale);
    color: var(--couleur-texte-blanc);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    z-index: 100;
}

header .logo,
header .titre,
header .bouton-menu {
    flex: 1;
    text-align: center;
    font-size: 1.9em;
    font-weight: bold;
}

header .logo {
    text-align: left;
    margin: 10%;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;    
}

header .bouton-menu {
    text-align: right;
}

/* Contenu principal (main) */
main {
    flex: 1;
    width: 100%;
    background-color: var(--couleur-arriere-plan);
    display: flex;
    overflow: hidden;
}

.main-content {
    display: flex;
    width: 100%;
    flex-direction: row;
}

/* Pied de page (footer) */
footer {
    height: 10vh;
    width: 100%;
    background-color: var(--couleur-principale);
    color: var(--couleur-texte-blanc);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: transform 0.3s ease;
    z-index: 99;
}

footer.hidden {
    transform: translateY(100%);
}

/* Gestion du défilement pour le footer */
body.scrolled-down footer {
    transform: translateY(100%);
}
