<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/static/css/styles.css">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="{{ site.url }}/static/images/logo.png" alt="Logo du site"></a>
        </div>
        <div class="titre">{{ site.title }}</div>
    </header>

    <main>
        <div class="menu">
            <div class="titre">Catégories</div>
            <a href="{{ site.url }}/html/categories/categorie1.html">Catégorie 1</a>
            <a href="{{ site.url }}/html/categories/categorie2.html">Catégorie 2</a>
            <a href="{{ site.url }}/html/categories/categorie3.html">Catégorie 3</a>
        </div>

        <div class="page">
            {{ content }}
        </div>

        <div class="selection">
            <h2>Sélection de la semaine</h2>
            <a class="articleSelectionne" href="#">Lien 1</a>
            <a class="articleSelectionne" href="#">Lien 2</a>
            <a class="articleSelectionne" href="#">Lien 3</a>
        </div>
    </main>

    <footer>
        <a href="html/apropos.html">Qui sommes-nous ?</a>
        <p>&copy; 2025 Mon Site Web Statique</p>
    </footer>
</body>
</html>
